@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Crete+Round&family=Montserrat:wght@100;500&display=swap');

* {
  margin: 0;
  /* border: 1px solid black; */
}
/* class to import */
.white {
  color: white;
}
.blue-1{
  color: #091E42;
}
.blue-2{
  color:#091E42;

}
.yelow{
  color: #FF6B00;
}
.bg-btn{
  background-color:rgba(255, 255, 255, 0.24);
}

.font-montesori{font-family: 'Montserrat', sans-serif;}
/* Content of the page */
.header-container {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  background-color: #3c3a39;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  font-family: 'Montserrat', sans-serif;
}

.headline-container {
  background-color: #1c1c19;
  background-image: url(./assets/images/Illustration.png);
  background-position: right bottom ;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 100px 20px 20px 20px;
  height: 60vh;
  gap: 10px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.headline-title {
  color: #ff6b00;
  font-size: 50px;
  font-style: unset;
  font-family: 'Crete Round', serif;
}

.social-media-icones-container {
  display: flex;
}
/* today */
#works-container{
  display: grid;
  grid-template-rows: 100px auto 450px 450px 450px 100px;

}
.recent-works-title-block{
display: flex;
align-items: center;
justify-content: center;
font-family: 'Crete Round';
font-size: 30px;
}
.recent-works{
display: flex;
flex-direction: column;
padding: 0px 20px 20px 20px;
gap: 15px;

}
.tools-container{
  display: flex;
  gap: 20px;


}
.tools{
  padding: 10px;
  border: 1px solid #8993A4;
  list-style:none;
}
.see-project-btn{
  background-color: #FF6B00;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
}
.works{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 120px 20px 20px 20px;
  background-image: url(./assets/images/bgi2.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  gap: 15px;

  }
  .works-title{

    font-family: 'Crete Round';
    font-size: 32px;
   
  }
  .see-project{
    background-color: #FF6B00;
    height: 40px;
    padding: auto ;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    color: white;
  
  }
  /* About Me section */
  #about-me-container{
    background-color: #3c3a39;
    background-image: url(./assets/images/Frame.png);
    background-position: right top 25%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 60vh 130vh;
  }
  .about-me-block{
    display: flex;
    flex-direction: column;
    padding: 100px 20px 40px 20px;
    gap: 20px;
  }
  .abt-me{
    font-size: 60px;
    text-align: center;
  }
  .categories-container{
    display: flex;
    flex-direction: column;
    padding: 100px 20px 100px 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .cat-title-1{
    font-size: 30px;
    list-style-type: square ;
  }
  .cat-title-2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
    list-style: none;
  }
  /* Contact Section */
  #contact-container{
    display: grid;
    grid-template-rows: 30vh 50vh auto;
   
  }
  .contact-title{
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-size: 1.5em;
  color:#172B4D;
  
  

  }
  .contact-form{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    gap: 10px;

  }
  .form-btn{
    align-self: center;
  }
.contact-icones{
  justify-content: center;
}
.input-form{
outline: none;
border: none;
border-bottom: 1px solid gray;

}
.form-text-area{
  background: #FBF8F7;
  border: none;
  padding: 20px;
}