@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Crete+Round&family=Montserrat:wght@100;500&display=swap');

* {
  margin: 0;
  /* border: 1px solid blac */
}

.white {
  color: white;
}

.header-container {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  background-color: #3c3a39;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  font-family: 'Montserrat', sans-serif;
}

.headline-container {
  background-color: #1c1c19;
  background-image: url(./assets/images/Illustration.png);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 100px 20px 20px 20px;
  height: 50vh;
  gap: 10px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.headline-title {
  color: #ff6b00;
  font-size: 50px;
  font-style: unset;
  font-family: 'Crete Round', serif;
}

.social-media-icones-container {
  display: flex;
}
/* today */
#works-container{
  display: grid;
  grid-template-rows: 100px auto 400px ;
}
.recent-works-title-block{
display: flex;
align-items: center;
justify-content: center;
}
.recent-works{
display: flex;
flex-direction: column;
padding: 0px 20px 20px 20px;

}
.tools-container{
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.tools{
  padding: 5px;
}
.see-project-btn{
  background-color: #FF6B00;
  width: 100px;
  height: 30px;
  color: white;
}






.works{
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
  background-image: url(./assets/images/bgi2.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-evenly;
  }
  .see-project{
    background-color: #FF6B00;
  }